<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="w-100 d-flex justify-content-between flex-column flex-xl-row px-3">
        <a class="navbar-brand">
            <img src="images/icon_32.png" class="pe-3" />VDT.Core.Operators
        </a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Debounce">Debounce</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Filter">Filter</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Flatten">Flatten</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="GroupBy">GroupBy</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Iterate">Iterate</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Map">Map</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Merge">Merge</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="QueueZip">QueueZip</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="QueueThrottle">QueueThrottle</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Zip">Zip</NavLink>
            </li>
        </ul>
    </div>
</nav>
