@page "/GroupBy"

<h1>GroupBy</h1>

<p>
    GroupBy is an operator that saves up values in a list, only publishing the previously saved values when the key changes. Below example groups values by
    their first letter.
</p>

<div class="row">
    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label for="value" class="form-label">Value</label>
        <input type="text" class="form-control" id="value" @bind-value="@Value" />
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3 align-self-end">
        <button class="btn btn-primary w-100" @onclick="async () => await valueStream.Publish(Value)">Publish</button>
    </div>
</div>

<Subscriber TValue="List<string>" @ref="subscriber" />

@code {
    private readonly IOperandStream<string> valueStream = new OperandStream<string>();
    private Subscriber<List<string>> subscriber = null!;

    private string Value { get; set; } = "Value";

    protected override void OnAfterRender(bool firstRender) {
        if (firstRender) {
            valueStream.GroupBy(value => value.FirstOrDefault()).Subscribe(subscriber.Subscribe);
        }
    }
}
