@page "/QueueZip"

<h1>QueueZip</h1>

<p>
    QueueZip is an operator that publishes tuples of the received values of two different <code>IOperandStream&lt;TValue&gt;</code> instances, queueing values
    received until a new tuple can be published. Below example takes values from two string streams and zips them.
</p>

<div class="row">
    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label for="firstValue" class="form-label">Value</label>
        <input type="text" class="form-control" id="firstValue" @bind-value="FirstValue" />
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3 align-self-end">
        <button class="btn btn-primary w-100" @onclick="async () => await firstValueStream.Publish(FirstValue)">Publish to first stream</button>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label for="secondValue" class="form-label">Value</label>
        <input type="text" class="form-control" id="secondValue" @bind-value="SecondValue" />
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3 align-self-end">
        <button class="btn btn-primary w-100" @onclick="async () => await secondValueStream.Publish(SecondValue)">Publish to second stream</button>
    </div>
</div>

<Subscriber TValue="(string, string)" @ref="subscriber" />

@code {
    private readonly IOperandStream<string> firstValueStream = new OperandStream<string>();
    private readonly IOperandStream<string> secondValueStream = new OperandStream<string>();
    private Subscriber<(string, string)> subscriber = null!;

    private string FirstValue { get; set; } = "First value";
    private string SecondValue { get; set; } = "Second value";

    protected override void OnAfterRender(bool firstRender) {
        if (firstRender) {
            firstValueStream.QueueZip(secondValueStream).Subscribe(subscriber.Subscribe);
        }
    }
}
